*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  
}

body {
  font-family: 'Merrweather', serif;
  color: #2D3945;
  background: #fff;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  background: #000;
}

.banner{
  color: #fff;
  background: #2D3945;
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  }
.banner h1{
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.30em;
}

form {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 0.5em;
  background: #fff;
 }

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
.header h2, .header p {
  margin: 0 0 10px 0;
  text-align: center;
}
.header h2{
  padding-top: 1.20em;
}
.header p, {
  padding-bottom: 1.1em;
 }
.header + hr {
  	border: 0.15em solid #000;
}

hr {
  	border: 0.05em solid #2D3945;
}
p, label {
  color: #617383;
  font-size: 1.1em
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 5px;
}
input[id="zip-code"]{
  width:150px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  height: 1.1em;
  width: 1.2em;  
}

select {
  padding: 6px;
  height: 32px;  
}

legend + p {
  margin: 0;
  padding-bottom: 0.7em;
}

textarea{
  min-height: 7.0em;
  margin-top: 0.75em;
  margin-bottom: 0;
  padding-bottom: 0;  
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4EBBB5;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}
.contact-section {
	width: 100%;
    margin: 0 auto;
}
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: 700;
  padding-top: 0.75em;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #617383;
}

label.light {
  font-weight: 300;
  display: inline;
}

/*
legend span {
  background-color: #2D3945;
  color: #fff;
  height: 30px;
  width: 28px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
*/

input[id="name"]:placeholder-shown, 
input[type="email"]:placeholder-shown {
  text-align: right;
  font-style: italic;
}
 select {height: 3.0em;}

footer {
    background: #fff;
    max-width: 320px;
    margin: 0 auto;
    padding: 5px 0 20px;
}

footer p{
  text-align: center;
  font-style: italic;
}

@media screen and (min-width: 759px) {

  .container {
   width: 100%;
  }
  form, .banner, footer{
    min-width: 85%;
    padding-right: 21%;
    padding-left: 21%;
  }
  legend{
    width: 100%;
  }
  /*flex it*/
  
  label{
    flex-basis:  25%;
    padding-top: 1.0em;
  }
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
textarea,
  select {
    flex-basis: 75%;
  }
 
  input[id="zip-code"]{
    flex-basis: 25%;
    
}
  .contact-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
}
